<h2>Selectores Anidados</h2>
<hr />
<div class="col">
  <div class="row">
    <form>
      <label for="idContinente" class="form-label">Continente: </label>
      <select id="idContinente" class="form-select">
        <option value="">-- Seleccione Continente --</option>
      </select>
      <label for="idPais" class="form-label">País: </label>
      <select id="idPais" class="form-select">
        <option value="">-- Seleccione País --</option>
      </select>
      <label for="idFronteras" class="form-label">Fronteras: </label>
      <select id="idFronteras" class="form-select">
        <option value="">-- Seleccione Fronteras --</option>
      </select>
    </form>
  </div>
</div>
